{% include "header.html" %}
   
    <section>

      {% include "left_section.html" %}

      <!-- Right Sidebar -->

      <!-- #END# Right Sidebar -->
    </section>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <section class="content">
      <div class="container-fluid">
        <!-- Customer Details Table -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h2>Top Customers</h2>
                {% comment %}<button class="btn waves-effect btn-success" id="exportData" type="button" id="importbutton" style="float: right;">Export</button>{% endcomment %}
              </div>
              <div class="body">
                <!-- Filters -->
                <form id="reportFilterForm" method="get">
                    {% comment %}<div class="row">
                    {% csrf_token %}
                  <div class="col-md-3">
                    <div class="form-group form-float">
                      <div class="form-line">
                        <input
                          type="date"
                          class="form-control"
                          id="start_date"
                          name="start_date"
                          value="{{start_date|date:'Y-m-d'}}"                        
                        />
                        <label class="form-label1">Start Date</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group form-float">
                      <div class="form-line">
                        <input
                          type="date"
                          class="form-control"
                          id="end_date"
                          name="end_date"
                          value="{{end_date|date:'Y-m-d'}}"
                        />
                        <label class="form-label1">End Date</label>
                      </div>
                    </div>
                  </div>
                  {% comment %}<div class="col-md-3">
                    <div class="form-group form-float">
                      <div class="form-line">
                        <select name="location" id="location2" class="form-control">
                          <option value="">-- Select Location --</option>
                          {% for location in locations %}
                              <option value="{{ location.location_id }}" {% if location.location_id|stringformat:"s" == selected_location|stringformat:"s" %}selected{% endif %}>
                                  {{ location.location_Name }}
                              </option>
                          {% endfor %}
                      </select>
                       <label class="form-label1">Location</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group form-float">
                      <div class="form-line">
                        <select name="brand" id="brand" class="form-control">
                          <option value="">-- Select Brand --</option>
                          {% for brand in brands %}
                              <option value="{{ brand.id }}" {% if brand.id|stringformat:"s" == selected_brand|stringformat:"s" %}selected{% endif %}>
                                  {{ brand.rwrd_brand_name }}
                              </option>
                          {% endfor %}
                      </select>
                        <label class="form-label1">Brand</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group form-float">
                      <div>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                      </div>
                    </div>
                  </div>
                </div>{% endcomment %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-float">
                      <div class="form-line">
                        {% for report in report_types %}
                        <input
                          type="radio"
                          name="report_type"
                          id="{{ report|slugify }}"
                          class="with-gap"
                          value="{{ report }}"
                          {% if report == report_type %}
                          checked
                          {% endif %}
                        />
                        <label for="{{ report|slugify }}" class="m-l-20">By {{ report }}</label>
                        <label class="form-label1">Report Type</label>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </form> 
                <!-- Table -->
                <div class="table-responsive">
                  <div>
                    <!-- Render the Plotly chart -->
                    {{ graph_html|safe }}
                  </div>
                  <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="text-align:center; vertical-align:top;">S.No.</th>
                            <th style="text-align:center; vertical-align:top;">Mobile No</th>
                            {% if report_type == "visit" %}
                                <th>Total Visits</th>
                            {% else %}
                                <th>Total Purchase Amount</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in top_customers_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ customer.mobile_no }}</td>
                            {% if report_type == "visit" %}
                                <td>{{ customer.total_visits }}</td>
                            {% else %}
                                <td>{{ customer.total_purchase }}</td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No data found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>                
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- #END# Customer Details Table -->
      </div>
    </section>
    <script>
        $(document).ready(function () {
            $("input[name='report_type']").change(function () {
                $("#reportFilterForm").submit();  // Submit the form on change
            });
        });
    </script>
{% include "footer.html" %}
