{% include "header.html" %}
  <section>
    {% include "left_section.html" %}
      <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h2>Locations</h2>
                <button
                  class="btn btn-primary waves-effect"
                  type="button"
                  id="viewbutton"
                  style="float: right; margin-left: 10px"
                  onclick="toggleForm()"
                >
                  View
                </button>
                <button
                  class="btn waves-effect"
                  type="button"
                  id="importbutton"
                  style="float: right;"
                  onclick="toggleForm1()"
                >
                  Import
                </button>
              </div>
              
              <div class="body" id="form_container" style="display: block;">
              {% if messages %}
              {% for message in messages %}
              <div align="center" height="50px;"><h6><font color="#ff0000" class="{{ message.tags }}">{{ message }}</font></h6></div>
              {% endfor %}
              {% elif request.GET.msg == "deleted" %}
              <div align="center" height="50px;"><h6><font color="#ff0000">Location deleted successfully</font></h6></div>
              {% endif %}
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Location Name</th>
                        <th>Location Address</th>
                        <th>Location Phone Number</th>
                        <th>Location Email</th>
                        <th>Location Code</th>
                        <th>Edit</th>
                        <th>Deactivate</th>
                      </tr>
                    </thead>
                    <tbody id="locationTableBody">
                      <!-- Dynamic rows will be appended here by JavaScript -->
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- File Upload -->
              <div class="row clearfix" id="form_container1" style="display:none;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div id="progress-bar" style="display: none;">
                    <div id="progress">0%</div>
                  </div>

                  <div id="summary" align="center" style="display: none; margin-top:25px;">
                      <h6><font color="#ff0000">All records processed successfully.&nbsp;&nbsp;Total Successfully Imported: <span id="success-count">0</span>.&nbsp;&nbsp;Total Rejected Records: <span id="rejected-count">0</span></h6></font>
                  </div>
                  <div class="body">
                      <form id="upload_location_form" name="upload_location_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input
                              type="file"
                              class="form-control"
                              name="locationfile"
                              accept=".csv, .xlsx"
                              required
                            />
                            <!--<label class="form-label" for="file_input">
                              Upload File (CSV, XLSX)
                            </label>-->
                          </div>
                        </div>
                        <p class="note" style="color:#2196f3;">Upload File in <a href="/media/sample_files/sample_locationmst.csv">CSV</a> or <a href="/media/sample_files/sample_locationmst.xlsx">XLSX</a> format. Click to download sample file.</p>
                        <p class="note">
                          <strong>Note:</strong> The following characters are allowed in CSV/XLSX file names:
                          <ul class="note">
                            <li>Upper case characters (A to Z)</li>
                            <li>Lower case characters (a to z)</li>
                            <li>Numbers (0 to 9)</li>
                            <li>Underscore (_)</li>
                          </ul>
                        </p>
                        <button class="btn btn-primary waves-effect" type="submit">Upload</button>
                      </form>
                      
                    <div id="rejected-records" style="display: none; margin-top: 25px;">
                        <h5>Rejected Records</h5>
                        <div id="rejected-list" class="table-responsive">
                          <table class="table table-bordered table-striped" id="rejected-table">
                            <thead>
                              <tr>
                                <th>Location Name</th>
                                <th>Location Address</th>
                                <th>Location Phone Number</th>
                                <th>Location Email</th>
                                <th>Location Code</th>
                                <th>Reason</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- #END# File Upload -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      
      const params = new URLSearchParams(window.location.search);
      const tabValue = params.get('tb');
      //alert(tabValue);
      if(tabValue == "import") {
        toggleForm1();
        document.getElementById("importbutton").disabled = true;
        document.getElementById("viewbutton").disabled = false;
        document.getElementById('importbutton').classList.add('btn-primary');
        document.getElementById('viewbutton').classList.remove('btn-primary');
      }

      function toggleForm() {
        const formContainer = document.getElementById("form_container");
        const formContainer1 = document.getElementById("form_container1");
        if (formContainer.style.display === "none") {
          formContainer.style.display = "block";
          formContainer1.style.display = "none";
        } else {
          formContainer.style.display = "none";
          formContainer1.style.display = "block";
          
        }
      }
      function toggleForm1() {
        const formContainer = document.getElementById("form_container");
        const formContainer1 = document.getElementById("form_container1");
        if (formContainer1.style.display === "none") {
          formContainer1.style.display = "block";
          formContainer.style.display = "none";
        } else {
          formContainer1.style.display = "none";
          formContainer.style.display = "block";
          
        }
      }

      document.getElementById('viewbutton').addEventListener('click', function () {
        //this.disabled = true;
        //document.getElementById("importbutton").disabled = false;
        this.style.cursor = 'not-allowed';
        document.getElementById("importbutton").style.cursor = '';
        this.classList.add('btn-primary'); 
        document.getElementById('importbutton').classList.remove('btn-primary');
      });
      document.getElementById('importbutton').addEventListener('click', function () {
        //this.disabled = true;
        //document.getElementById("viewbutton").disabled = false;
        this.style.cursor = 'not-allowed';
        document.getElementById("viewbutton").style.cursor = '';
        this.classList.add('btn-primary'); 
        document.getElementById('viewbutton').classList.remove('btn-primary');
      });

      {% comment %} document
        .getElementById("category_image")
        .addEventListener("change", function (event) {
          const imagePreview = document.getElementById("image_preview");
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              imagePreview.src = e.target.result;
              imagePreview.style.display = "block";
            };
            reader.readAsDataURL(file);
          } else {
            imagePreview.src = "";
            imagePreview.style.display = "none";
          }
        });

      function handleFileUpload(event) {
        const file = event.target.files[0];
        if (file) {
          // Implement file processing here
          console.log("Selected file:", file.name);
        }
      } {% endcomment %}

      $(document).ready(function () {
        $('#upload_location_form').on('submit', function (e) {
            e.preventDefault();
            //alert("Hiiiiiiii");
            let formData = new FormData(this);
            let progressBar = $('#progress');
            progressBar.css('width', '0%').text('0%');
            //alert(formData);
            $.ajax({
                
                url: `{% url 'ImportLocationMst' %}`, // Replace with your URL pattern name
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: formData,
                processData: false,
                contentType: false,
                xhr: function () {
                    let xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function (e) {
                      //alert(xhr);
                      document.getElementById("progress-bar").style.display = 'block';
                        if (e.lengthComputable) {
                            let percentComplete = (e.loaded / e.total) * 100;
                            progressBar.css('width', percentComplete + '%').text(Math.round(percentComplete) + '%');
                        }
                    });
                    return xhr;
                },
                success: function (response) {
                    progressBar.css('width', '100%').text('Upload Complete');
                    document.getElementById("summary").style.display = 'block';
                    document.getElementById("rejected-records").style.display = 'block';
                    $('#success-count').text(response.success_count);
                    $('#rejected-count').text(response.rejected_count);
                    // Display rejected records
                    //alert(response.rejected_records);
                    let rejectedRecords = response.rejected_records || [];
                    let rejectedTableBody = $('#rejected-table tbody');
                    rejectedTableBody.empty();
                    //$('#rejected-list').empty();
                    //$('#rejected-list').append('<table class="table table-bordered table-striped"><thead><tr><th>Category Name</th><th>Category Description</th><th>Reason</th></tr></thead><tbody>');
                    if (rejectedRecords.length > 0) {
                      rejectedRecords.forEach(record => {
                          //$('#rejected-list').append('<li>' + record.reason + ': ' + JSON.stringify(record.row) + '</li>');
                          rejectedTableBody.append('<tr><td>'+record.row.location_name +'</td><td>'+record.row.location_address+'</td><td>'+record.row.location_phonenumber+'</td><td>'+record.row.location_email+'</td><td>'+record.row.location_code+'</td><td>' + record.reason + '</td></tr>');
                      });
                    }
                },
                error: function () {
                    progressBar.css('width', '70%').text('Upload Failed');
                    alert('An error occurred. Please try again.');
                }
            });
          });
      });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="brandModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="brandModalLabel">
              Edit Location
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form content from above -->
            <form id="modal_form_validation" name="modal_form_validation" method="POST" enctype="multipart/form-data" action="{% url 'EditLocationMst' %}">
              {% csrf_token %}
              <input type="hidden" name="modal_location_id" id="modal_location_id" />
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        id="modal_location_name"
                        name="modal_location_name"
                        required
                      />
                      <label class="form-label1">Location Name</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        id="modal_location_code"
                        name="modal_location_code"
                      />
                      <label class="form-label1">Location Code</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        name="modal_location_address"
                        id="modal_location_address"
                      />
                      <label class="form-label1">Location Address</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        name="modal_location_phoneno"
                        id="modal_location_phoneno"  
                      />
                      <label class="form-label1">Location Phone No</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        name="modal_location_email"
                        id="modal_location_email"  
                      />
                      <label class="form-label1">Location Email</label>
                    </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Example data for the table

      
      const location_json_data = JSON.parse('{{ locationmst|safe|escapejs }}');  // Use safe filter to avoid HTML escaping
      const locations = location_json_data;

      // Function to populate the brand table
      function populateLocationTable() {
        //alert(location_json_data);
        const tableBody = document.getElementById("locationTableBody");
        tableBody.innerHTML = "";

        locations.forEach((loc, index) => {
          const row = document.createElement("tr");

          row.innerHTML = `
        <td>${index + 1}</td>
        <td>${loc.location_Name || ''}</td>
        <td>${loc.location_address || ''}</td>
        <td>${loc.location_phonenumber || ''}</td>
        <td>${loc.location_emailid || ''}</td>
        <td>${loc.location_code}</td>
        <td>
  <button type="button" class="btn btn-primary" onclick="EditLocation(${index}, 'edit', ${loc.location_id})">
    <i class="fas fa-edit fa-xs"></i>
  </button>
</td>
<td>
  <button type="button" class="btn btn-danger" onclick="DelLocation(${index}, ${loc.location_id})">
    <i class="fas fa-trash-alt fa-xs"></i>
  </button>
</td>
      `;

          tableBody.appendChild(row);
        });
      }

      // Function to open the modal with category details
      function EditLocation(index, mode, locid) {
        const locn = locations[index];

        //const imgContainer = document.getElementById('imgContainer');

        //imgContainer.innerHTML = '';

        fetch(`{% url 'GetLocation' %}`, {
          method: "POST",
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          body: JSON.stringify({ "locid": locid })
        })
        .then(response => response.json())
        .then(data => {
          // Populate form with tier data
          //alert(data.rwrd_brand_logo);
          //alert(data.location_id);
          
          document.getElementById("modal_location_id").value = data.location_id;
          document.getElementById("modal_location_name").value = data.location_name;
          document.getElementById("modal_location_address").value = data.location_address;
          document.getElementById("modal_location_phoneno").value = data.location_phonenumber;
          document.getElementById("modal_location_email").value = data.location_email;
          document.getElementById("modal_location_code").value = data.location_code;
          //document.getElementById("modal_brand_identifier").value = data.rwrd_brand_identifier;
        })
        .catch(error => console.error("Error fetching brand data:", error));

        /*if (mode === "view") {
          document.querySelector(
            '[name="modal_brand_name"]'
          ).readOnly = true;
          document.querySelector(
            '[name="modal_brand_description"]'
          ).readOnly = true;
          document.querySelector(
            '[name="modal_category_image"]'
          ).style.display = "none";
          document.querySelector(".form-actions").style.display = "none";
        } else {
          document.querySelector(
            '[name="modal_brand_name"]'
          ).readOnly = false;
          document.querySelector(
            '[name="modal_brand_description"]'
          ).readOnly = false;
          document.querySelector(
            '[name="modal_category_image"]'
          ).style.display = "block";
          document.querySelector(".form-actions").style.display = "block";
        }*/

        $("#locationModal").modal("show");
      }

      // Function to delete a category
      function DelLocation(index,locid) {
        //categories.splice(index, 1);
        //populateLocationTable();
        if (confirm("Are you sure you want to delete this Location?")) {
          $.ajax({
            url: `{% url 'DelLocation' %}`,  // Endpoint to delete item
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {"locid": locid },
            success: function(response) {
                window.location.href = "/settings/locations/?msg=deleted";
            }
        });
        }
      }

      // Call the function to populate the table on page load
      populateLocationTable();
    </script>

    {% include "footer.html" %}