{% include "header.html" %}
  <section>
    {% include "left_section.html" %}
      <!-- #END# Left Sidebar -->
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h2>Reward Gift Vouchers</h2>
                <button
                  class="btn btn-primary waves-effect"
                  type="button"
                  id="viewbutton"
                  style="float: right; margin-left: 10px"
                  onclick="toggleForm()"                  
                >
                  View
                </button>
                <button
                  class="btn waves-effect"
                  type="button"
                  id="importbutton"
                  style="float: right; margin-left: 10px"
                  onclick="toggleForm1()"
                >
                  Import
                </button>
                <button
                  class="btn waves-effect"
                  type="button"
                  id="assignbutton"
                  style="float: right;"
                  onclick="toggleForm2()"
                >
                  Assign
                </button>
              </div>
              
              <div class="body" id="form_container" style="display: block;">
              {% if messages %}
              {% for message in messages %}
              <div align="center" height="50px;"><h6><font color="#ff0000" class="{{ message.tags }}">{{ message }}</font></h6></div>
              {% endfor %}
              {% elif request.GET.msg == "deleted" %}
              <div align="center" height="50px;"><h6><font color="#ff0000">Reward Voucher deleted successfully</font></h6></div>
              {% endif %}
                <div class="table-responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Reward GV Title</th>
                        <th>Reward Brand</th>
                        <th>Reward GV Value</th>
                        <th>Reward GV Points value</th>
                        <th>Reward GV Type</th>
                        <th>Reward GV Mode</th>
                        <th>Edit</th>
                        <th>Deactivate</th>
                      </tr>
                    </thead>
                    <tbody id="brandTableBody">
                      <!-- Dynamic rows will be appended here by JavaScript -->
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- File Upload -->
              <div class="row clearfix" id="form_container1" style="display:none;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div id="progress-bar" style="display: none;">
                    <div id="progress">0%</div>
                  </div>

                  <div id="summary" align="center" style="display: none; margin-top:25px;">
                      <h6><font color="#ff0000">All records processed successfully.&nbsp;&nbsp;Total Successfully Imported: <span id="success-count">0</span>.&nbsp;&nbsp;Total Rejected Records: <span id="rejected-count">0</span></h6></font>
                  </div>
                  <div class="body">
                      <form id="upload_gv_form" name="upload_gv_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group form-float">
                          <div class="form-line">
                            <input
                              type="file"
                              class="form-control"
                              name="gvfile"
                              accept=".csv, .xlsx"
                              required
                            />
                            <!--<label class="form-label" for="file_input">
                              Upload File (CSV, XLSX)
                            </label>-->
                          </div>
                        </div>
                        <p class="note" style="color:#2196f3;">Upload File in <a href="/media/sample_files/sample_rwrdgiftvouchers.csv">CSV</a> or <a href="/media/sample_files/sample_rwrdgiftvouchers.xlsx">XLSX</a> format. Click to download sample file.</p>
                        <p class="note">
                          <strong>Note:</strong> The following characters are allowed in CSV/XLSX file names:
                          <ul class="note">
                            <li>Upper case characters (A to Z)</li>
                            <li>Lower case characters (a to z)</li>
                            <li>Numbers (0 to 9)</li>
                            <li>Underscore (_)</li>
                          </ul>
                        </p>
                        <button class="btn btn-primary waves-effect" type="submit">Upload</button>
                      </form>
                      
                    <div id="rejected-records" style="display: none; margin-top: 25px;">
                        <h5>Rejected Records</h5>
                        <div id="rejected-list" class="table-responsive">
                          <table class="table table-bordered table-striped" id="rejected-table">
                            <thead>
                              <tr>
                                <th>GV Code</th>
                                <th>GV Value</th>
                                <th>GV Points Value</th>
                                <th>GV Type</th>
                                <th>GV Expiry</th>
                                <th>Brand</th>
                                <th>Reason</th>
                              </tr>
                            </thead>
                            <tbody>
                            </tbody>
                          </table>  
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- #END# File Upload -->

              <!-- #START Assign GV to conceirge -->
            
              <div class="row clearfix" id="form_container2" style="display:none;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <!--<div class="card">-->
                    <div class="header">
                      <h5><u>Assign GV to Rewards Desk</u></h5>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    <div align="center" height="50px;"><h6><font color="#ff0000" class="{{ message.tags }}">{{ message }}</font></h6></div>
                    {% endfor %}
                    {% endif %}
                    <div class="body">
                      <form id="frmassigngv" name="frmassigngv" method="POST" action="{% url 'AssignRwrdGVs' %}">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <select id="selcategory" name="selcategory" class="form-control">
                                  <option value="">-- Select Category --</option>
                                  {% for catdata in categoriesdta %}
                                  <option value="{{ catdata.category_id }}">{{ catdata.category_name }}</option>
                                  {% endfor %}
                                </select>
                                <label class="form-label1">Brand</label>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-md-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <select id="selbrand" name="selbrand" class="form-control">
                                  <option value="">-- Select Brand --</option>
                                </select>
                                <label class="form-label1">Brand</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <select id="seldenomination" name="seldenomination" class="form-control">
                                  <option value="">-- Select GV Denomination --</option>
                                </select>
                                <label class="form-label1">GV Denomination</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <input
                                  type="number"
                                  class="form-control"
                                  name="total_vouchers"
                                  id="total_vouchers"
                                  required
                                  />
                                <label class="form-label">Total GV</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group form-float">
                              <div class="form-line">
                                <input
                                  type="number"
                                  class="form-control"
                                  name="total_gv_value"
                                  id="total_gv_value"
                                  required
                                />
                                <label class="form-label1">Total GV Value</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-primary waves-effect" type="submit" id="submitBtn">
                          SUBMIT
                        </button>
                      </form>
                    </div>
                  <!--</div>-->
                </div>
              </div>  
            
              <!-- #END Assign GV to conceirge -->





            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      
      /*const params = new URLSearchParams(window.location.search);
      const tabValue = params.get('tb');
      //alert(tabValue);
      if(tabValue == "import") {
        toggleForm1();
        document.getElementById("importbutton").disabled = true;
        document.getElementById("viewbutton").disabled = false;
        document.getElementById('importbutton').classList.add('btn-primary');
        document.getElementById('viewbutton').classList.remove('btn-primary');
      }*/

      function toggleForm() {
        const formContainer = document.getElementById("form_container");
        const formContainer1 = document.getElementById("form_container1");
        const formContainer2 = document.getElementById("form_container2");
        if (formContainer.style.display === "none") {
          formContainer.style.display = "block";
          formContainer1.style.display = "none";
          formContainer2.style.display = "none";
        } else {
          formContainer.style.display = "none";
          formContainer1.style.display = "block";
          formContainer2.style.display = "none";
        }
      }
      function toggleForm1() {
        const formContainer = document.getElementById("form_container");
        const formContainer1 = document.getElementById("form_container1");
        const formContainer2 = document.getElementById("form_container2");
        if (formContainer1.style.display === "none") {
          formContainer1.style.display = "block";
          formContainer.style.display = "none";
          formContainer2.style.display = "none";
        } else {
          formContainer1.style.display = "none";
          formContainer.style.display = "block";
          formContainer2.style.display = "none";
        }
      }

      function toggleForm2() {
        const formContainer = document.getElementById("form_container");
        const formContainer1 = document.getElementById("form_container1");
        const formContainer2 = document.getElementById("form_container2");
        if (formContainer2.style.display === "none") {
          formContainer2.style.display = "block";
          formContainer.style.display = "none";
          formContainer1.style.display = "none";
        } else {
          formContainer1.style.display = "none";
          formContainer.style.display = "block";
          formContainer2.style.display = "none";
        }
      }


      document.getElementById('viewbutton').addEventListener('click', function () {
        //this.onclick = null;
        this.style.cursor = 'not-allowed';
        //document.getElementById("importbutton").onclick = function(){};
        //document.getElementById("assignbutton").onclick = function(){};
        document.getElementById("importbutton").style.cursor = '';
        document.getElementById("assignbutton").style.cursor = '';
        //this.disabled = true;
        //document.getElementById("importbutton").disabled = false;
        //document.getElementById("assignbutton").disabled = false;
        this.classList.add('btn-primary'); 
        document.getElementById('importbutton').classList.remove('btn-primary');
        document.getElementById('assignbutton').classList.remove('btn-primary');
      });
      document.getElementById('importbutton').addEventListener('click', function () {
        //this.disabled = true;
        //document.getElementById("viewbutton").disabled = false;
        //document.getElementById("assignbutton").disabled = false;
        //this.onclick = null;
        this.style.cursor = 'not-allowed';
        //document.getElementById("viewbutton").onclick = function(){};
        //document.getElementById("assignbutton").onclick = function(){};
        document.getElementById("viewbutton").style.cursor = '';
        document.getElementById("assignbutton").style.cursor = '';
        
        this.classList.add('btn-primary'); 
        document.getElementById('viewbutton').classList.remove('btn-primary');
        document.getElementById('assignbutton').classList.remove('btn-primary');
      });
      document.getElementById('assignbutton').addEventListener('click', function () {
        //this.disabled = true;
        //document.getElementById("viewbutton").disabled = false;
        //document.getElementById("importbutton").disabled = false;
        //this.onclick = null;
        this.style.cursor = 'not-allowed';
        //document.getElementById("viewbutton").onclick = function(){};
        //document.getElementById("importbutton").onclick = function(){};
        document.getElementById("viewbutton").style.cursor = '';
        document.getElementById("importbutton").style.cursor = '';
        this.classList.add('btn-primary'); 
        document.getElementById('viewbutton').classList.remove('btn-primary');
        document.getElementById('importbutton').classList.remove('btn-primary');
      });

      {% comment %} document
        .getElementById("category_image")
        .addEventListener("change", function (event) {
          const imagePreview = document.getElementById("image_preview");
          const file = event.target.files[0];
          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              imagePreview.src = e.target.result;
              imagePreview.style.display = "block";
            };
            reader.readAsDataURL(file);
          } else {
            imagePreview.src = "";
            imagePreview.style.display = "none";
          }
        });

      function handleFileUpload(event) {
        const file = event.target.files[0];
        if (file) {
          // Implement file processing here
          console.log("Selected file:", file.name);
        }
      } {% endcomment %}

      $(document).ready(function () {
        $('#upload_gv_form').on('submit', function (e) {
            e.preventDefault();
            //alert("Hiiiiiiii");
            let formData = new FormData(this);
            let progressBar = $('#progress');
            progressBar.css('width', '0%').text('0%');
            //alert(formData);
            $.ajax({
                
                url: `{% url 'ImportRwrdGV' %}`, // Replace with your URL pattern name
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                data: formData,
                processData: false,
                contentType: false,
                xhr: function () {
                    let xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener('progress', function (e) {
                      //alert(xhr);
                      document.getElementById("progress-bar").style.display = 'block';
                        if (e.lengthComputable) {
                            let percentComplete = (e.loaded / e.total) * 100;
                            progressBar.css('width', percentComplete + '%').text(Math.round(percentComplete) + '%');
                        }
                    });
                    return xhr;
                },
                success: function (response) {
                    progressBar.css('width', '100%').text('Upload Complete');
                    document.getElementById("summary").style.display = 'block';
                    document.getElementById("rejected-records").style.display = 'block';
                    $('#success-count').text(response.success_count);
                    $('#rejected-count').text(response.rejected_count);
                    // Display rejected records
                    //alert(response.rejected_records);
                    let rejectedRecords = response.rejected_records || [];
                    let rejectedTableBody = $('#rejected-table tbody');
                    rejectedTableBody.empty();
                    //$('#rejected-list').empty();
                    //$('#rejected-list').append('<table class="table table-bordered table-striped"><thead><tr><th>Category Name</th><th>Category Description</th><th>Reason</th></tr></thead><tbody>');
                    if (rejectedRecords.length > 0) {
                      rejectedRecords.forEach(record => {
                          //$('#rejected-list').append('<li>' + record.reason + ': ' + JSON.stringify(record.row) + '</li>');
                          rejectedTableBody.append('<tr><td>'+record.row.gv_code +'</td><td>'+record.row.gv_points+'</td><td>'+record.row.gv_points_value+'</td><td>'+record.row.gv_type+'</td><td>'+record.row.gv_expiry+'</td><td>'+record.row.gv_brand+'</td><td>' + record.reason + '</td></tr>');
                      });
                    }
                },
                error: function () {
                    progressBar.css('width', '70%').text('Upload Failed');
                    alert('An error occurred. Please try again.');
                }
            });
          });
      });

      $(document).ready(function () {
        // Handle category selection
        $('#selcategory').change(function () {
            const categoryId = $(this).val();
            const brandSelect = $('#selbrand');

            // Clear the current brand options
            brandSelect.empty().append('<option value="">Select Brand</option>');

            if (categoryId) {
                $.ajax({
                    url: "{% url 'GetBrandsByCategory' %}",
                    method: "POST",
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: {
                        'category_id': categoryId
                      },
                    success: function (data) {
                        data.forEach(function (brnd) {
                            brandSelect.append(`<option value="${brnd.id}">${brnd.rwrd_brand_name}</option>`);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching brands:', error);
                        alert('Failed to load brands. Please try again.');
                    }
                });
            }
        });
      });

      $(document).ready(function () {
        // Handle category selection
        $('#selbrand').change(function () {
            const brandId = $(this).val();
            const denominationSelect = $('#seldenomination');

            // Clear the current brand options
            denominationSelect.empty().append('<option value="">Select GV Denomination</option>');

            if (brandId) {
                $.ajax({
                    url: "{% url 'GetBrandDenomination' %}",
                    method: "POST",
                    headers: { 'X-CSRFToken': '{{ csrf_token }}' },
                    data: {
                        'brand_id': brandId
                      },
                    success: function (data) {
                        data.forEach(function (rwrdgv) {
                          denominationSelect.append(`<option value="${rwrdgv.gv_points_value}">${rwrdgv.gv_value} (Points Value :${rwrdgv.gv_points_value})</option>`);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error fetching denomination:', error);
                        alert('Failed to load denomination. Please try again.');
                    }
                });
            }
        });
      });

      $('#seldenomination, #total_vouchers').on('input', function () {
        let denomination = parseFloat($('#seldenomination').val()) || 0;
        let totalGV = parseInt($('#total_vouchers').val()) || 0;
        $('#total_gv_value').val(denomination * totalGV);
    });

    </script>

    <!-- Modal -->
    <div class="modal fade" id="GVModal" tabindex="-1" role="dialog" aria-labelledby="GVModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="GVModalLabel">
              Edit Reward Gift Voucher
            </h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Form content from above -->
            <form id="modal_form_validation" name="modal_form_validation" method="POST" action="{% url 'EditRwrdGV' %}">
              {% csrf_token %}
              <input type="hidden" name="modal_gv_id" id="modal_gv_id" />
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        id="modal_gv_title"
                        name="modal_gv_title"
                        required
                      />
                      <label class="form-label1">Reward GV Title</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="textarea"
                        rows="3"
                        cols="25"
                        class="form-control"
                        id="modal_gv_description"
                        name="modal_gv_description"
                      />
                      <label class="form-label1">Reward GV Description</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        name="modal_gv_value"
                        id="modal_gv_value"
                      />
                      <label class="form-label1">Reward GV Value</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="text"
                        class="form-control"
                        name="modal_gv_pts_value"
                        id="modal_gv_pts_value"  
                      />
                      <label class="form-label1">Reward GV Points Value</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <select id="modal_gv_type" name="modal_gv_type" class="form-control">
                        <option value="">-- Select GV Type --</option>
                        <option value="Digital">Digital</option>
                        <option value="Physical">Physical</option>
                      </select>
                      <label class="form-label1">Reward GV Type</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <select id="modal_gv_mode" name="modal_gv_mode" class="form-control">
                        <option value="">-- Select GV Mode --</option>
                        <option value="Online">Online</option>
                        <option value="Offline">Offline</option>
                      </select>
                      <label class="form-label1">Reward GV Mode</label>
                    </div>
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <select id="modal_rwrd_brand_id" name="modal_rwrd_brand_id" class="form-control">
                        <option value="">-- Select Brand --</option>
                        {% for branddata in brandsdta %}
                        <option value="{{ branddata.id }}" {% if branddata.id|stringformat:"s" == selected_brand|stringformat:"s" %}selected{% endif %}>
                          {{ branddata.rwrd_brand_name }}
                        </option>
                        {% endfor %}
                      </select>
                      <label class="form-label1">Brand</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group form-float">
                    <div class="form-line">
                      <input
                        type="textarea"
                        class="form-control"
                        rows="3"
                        cols="25"
                        name="modal_gv_tnc"
                        id="modal_gv_tnc"
                      />
                      <label class="form-label1">Reward GV T&C</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions"></div>
              <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      // Example data for the table

      
      const gv_json_data = JSON.parse('{{ rwrdgvs|safe|escapejs }}');  // Use safe filter to avoid HTML escaping
      const gvs = gv_json_data;

      // Function to populate the brand table
      function populateBrandTable() {
        //alert(brand_json_data);
        const tableBody = document.getElementById("brandTableBody");
        tableBody.innerHTML = "";

        gvs.forEach((gv, index) => {
          const row = document.createElement("tr");

          row.innerHTML = `
        <td>${index + 1}</td>
        <td>${gv.gv_title}</td>
        <td>${gv.rwrd_brand_id__rwrd_brand_name}</td>
        <td>${gv.gv_value}</td>
        <td>${gv.gv_points_value}</td>
        <td>${gv.gv_type}</td>
        <td>${gv.gv_mode}</td>
        <td>
  <button type="button" class="btn btn-primary" onclick="EditRwrdGV(${index}, 'edit', ${gv.id})">
    <i class="fas fa-edit fa-xs"></i>
  </button>
</td>
<td>
  <button type="button" class="btn btn-danger" onclick="deleteRwrdGV(${index}, ${gv.id})">
    <i class="fas fa-trash-alt fa-xs"></i>
  </button>
</td>
      `;

          tableBody.appendChild(row);
        });
      }

      // Function to open the modal with category details
      function EditRwrdGV(index, mode, rwrdgvid) {
        const brnd = gvs[index];

        fetch(`{% url 'GetRwrdGV' %}`, {
          method: "POST",
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          body: JSON.stringify({ "rgvid": rwrdgvid })
        })
        .then(response => response.json())
        .then(data => {
          // Populate form with tier data
          //alert(data.rwrd_brand_name);
          //alert(data.category_description);
          
          document.getElementById("modal_gv_id").value = data.rwrd_gv_id;
          document.getElementById("modal_gv_title").value = data.rwrd_gv_title;
          document.getElementById("modal_gv_description").value = data.rwrd_gv_description;
          document.getElementById("modal_gv_value").value = data.rwrd_gv_value;
          document.getElementById("modal_gv_pts_value").value = data.rwrd_gv_points_value;
          document.getElementById("modal_gv_type").value = data.rwrd_gv_type;
          document.getElementById("modal_gv_mode").value = data.rwrd_gv_mode;
          document.getElementById("modal_gv_tnc").value = data.rwrd_gv_tnc;
          document.getElementById("modal_rwrd_brand_id").value = data.rwrd_brand_id;
          document.getElementById("modal_gv_identifier").value = data.rwrd_gv_identifier;
          
          //document.getElementById("modal_tabKey").value = tabKey;
          //document.getElementById("modal_index").value = tierid;
        })
        .catch(error => console.error("Error fetching brand data:", error));

        /*if (mode === "view") {
          document.querySelector(
            '[name="modal_brand_name"]'
          ).readOnly = true;
          document.querySelector(
            '[name="modal_brand_description"]'
          ).readOnly = true;
          document.querySelector(
            '[name="modal_category_image"]'
          ).style.display = "none";
          document.querySelector(".form-actions").style.display = "none";
        } else {
          document.querySelector(
            '[name="modal_brand_name"]'
          ).readOnly = false;
          document.querySelector(
            '[name="modal_brand_description"]'
          ).readOnly = false;
          document.querySelector(
            '[name="modal_category_image"]'
          ).style.display = "block";
          document.querySelector(".form-actions").style.display = "block";
        }*/

        $("#GVModal").modal("show");
      }

      // Function to delete a category
      function deleteRwrdGV(index,rwrdgvid) {
        //categories.splice(index, 1);
        //populateBrandTable();
        if (confirm("Are you sure you want to delete this Reward Gift Voucher?")) {
          $.ajax({
            url: `{% url 'DelRwrdGV' %}`,  // Endpoint to delete item
            type: 'POST',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            data: {"rgvid": rwrdgvid },
            success: function(response) {
                window.location.href = "/settings/rwrdgvs/?msg=deleted";
            }
        });
        }
      }


      // Call the function to populate the table on page load
      
      function handleQueryString() {
        const urlParams = new URLSearchParams(window.location.search); // Parse query string
        const action = urlParams.get('tb'); // Get the 'action' parameter value

        if (action === 'assign') {
            //toggleForm2();
            document.getElementById('assignbutton').click();
        } /*else {
          document.getElementById('viewbutton').click();
        }*/
      }

      document.addEventListener('DOMContentLoaded', handleQueryString);

      populateBrandTable();

    </script>

    {% include "footer.html" %}